body {
  max-width: 375px;
  width: 100%;
  margin: 20px;
  padding: 0;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  border: solid 1px #ccc;
}

figure {
  margin: 0;
}

article header {
  display: flex;
  flex-direction: column;
}
article header figure {
  width: 100%;
  padding-bottom: 3%;
  background-image: url("../img/instant_articles_logo.png");
  background-position: 0 100%;
  background-size: 100% auto;
  order: 1;
}

article header #attr {
  display:flex;
  order: 2;
  margin-left:10px;
  margin-right:10px;
  border-bottom: 1px #aaa solid;
}
article header #attr #logo {
  width: 20%;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-image: url('../../imgs/polar_logo_blue.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  float:left;
  position:relative;

}

article header figure img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
article header figure figcaption {
  display: none;
}
article header h3.op-kicker {
  order: 2;
  font-size: 10px;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #a537fd;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 22px;
  margin-bottom: 0;
}
article header h1 {
  order: 3;
  font-size: 27px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 13px;
}

article header address {
  display:none;
}
/*article header address {
  order: 4;
  font-style: normal;
  text-transform: uppercase;
  font-size: 9.5px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 1px;
}


article header address:before {
  content: 'By ';
  display: inline-block;
  margin-right: 3px;
}*/
article header time.op-published {
  order: 5;
  font-style: normal;
  text-transform: uppercase;
  font-size: 9.5px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
}
article header time.op-modified {
  display: none;
}
article h2,
article h3 {
  font-size: 14px;
  font-family: Georgia, serif;
  font-weight: normal;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
}
article p {
  /*font-family: Georgia, serif;*/
  font-size: 13.6px;
  line-height: 1.55;
  padding-right: 20px;
  padding-left: 20px;
}
article p a {
  color: #a537fd;
}
article p iframe {
  width: 100%;
  height: auto;
  vertical-align: top;
}
article ul,
article ol {
  /*font-family: Georgia, serif;*/
  font-size: 13.6px;
  line-height: 1.55;
  padding-right: 20px;
}
article > figure > img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.op-ad iframe {
    display:block;
    margin:auto;
    overflow: hidden;
}