body {
  max-width: 375px;
  width: 100%;
  margin: 20px;
  padding: 0;
  font-family: Arial, sans-serif;
  border: solid 1px #ccc;
}

.main-head {
  height: 30px;
  padding: 10px 10px 7px;
  background-color: #2F7162;
}

.main-head #huffpo-logo {
  background-image: url("../../imgs/Huffpo.png");
  display: inline-block;
  height: 30px;
  width: 110px;
}

.main-head #huffpo-like {
  background-image: url("../../imgs/HuffPoLike.png");
  display: inline-block;
  height: 15px;
  width: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

figure {
  margin: 0;
}

.theme {
  order: 5;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  color: #2F7162;
}

article header h1 {
  font-size: 24px !important;
  margin-top: 6px !important;
  font-family: Tahoma, Geneva, sans-serif;
}

article header {
  display: flex;
  flex-direction: column;
}
article header figure {
  width: 100%;
  background-image: url("../../imgs/instant_articles_logo.png");
  background-position: 0 100%;
  background-size: 100% auto;
  order: 1;
}

article header #attr {
  display:flex;
  order: 2;
  margin-left:10px;
  margin-right:10px;
  /*border-bottom: 1px #aaa solid;*/
}
article header #attr #logo {
  width: 20%;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-image: url('../../imgs/polar_logo_blue.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  float:left;
  position:relative;
}

article header figure img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
article header figure figcaption {
  display: none;
}
article header h3.op-kicker {
  order: 2;
  font-size: 10px;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #a537fd;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 22px;
  margin-bottom: 0;
}
article header h1 {
  order: 3;
  font-size: 27px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 13px;
}

article header address {
  display:none;
}
/*article header address {
  order: 4;
  font-style: normal;
  text-transform: uppercase;
  font-size: 9.5px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 1px;
}


article header address:before {
  content: 'By ';
  display: inline-block;
  margin-right: 3px;
}*/
article header time.op-published {
  order: 5;
  font-style: normal;
  text-transform: uppercase;
  font-size: 9.5px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
  color: #2F7162;
}
article header time.op-modified {
  display: none;
}
article h2,
article h3 {
  font-size: 14px;
  font-family: Georgia, serif;
  font-weight: normal;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
}
article p {
  /*font-family: Georgia, serif;*/
  font-size: 13.6px;
  line-height: 1.55;
  padding-right: 20px;
  padding-left: 20px;
}
article p a {
  color: #a537fd;
}
article p iframe {
  width: 100%;
  height: auto;
  vertical-align: top;
}
article ul,
article ol {
  /*font-family: Georgia, serif;*/
  font-size: 13.6px;
  line-height: 1.55;
  padding-right: 20px;
}
article > figure > img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.op-ad iframe {
    display:block;
    margin:auto;
    overflow: hidden;
}

/* --- ad --- */
.plr-rr {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: auto;
  text-align: left;
  box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  border: 1px solid #dedede;
}

.plr-rr a {
  color: initial;
  text-decoration: initial;
}

.plr-rr .plr-img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 60%;
  border: 1px solid #dedede;
}

.plr-rr .plr-img-wrapper > div:first-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  background-size: cover !important;
}

.plr-rr .plr-img-wrapper {
  transition: .3s;
}

.plr-rr__content {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
}

.plr-rr__content__title {
  font-family: Arial, sans serif;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 1);
  line-height: 20px;
  padding: 8px 8px 0;
}

.plr-rr__content__summary {
  font-family: Arial, sans serif;
  font-size: 11px;
  padding: 0px 8px 8px;
}

.plr-rr__content__banner {
  font-size: 10px;
  font-family: Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  bottom: 3px;
  background: white;
  padding: 0px 8px 8px;
  color: #d2d2d2;
}